.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 10px 0;

    .itemAction:hover {
        color: var(--ccPurple);
    }

    .itemAction:last-child {
        margin-left: 10px;
    }

}