.inputSearch{
    border: 1px solid var(--ccWhite);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    input{
        margin-left:5px;
        border: none;
        outline: none;
        font-size: 16px;
    }
    .icon{
        margin-right: 5px;
        margin-top: 5px;
    }
}